.mountain {
    position: absolute;
    bottom: 0;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-bottom: 250px solid #7ac1e4;
    z-index: 1;
    width: 300px;
    left: 150px
}
.mountain-top{
    position: absolute;
    right: -33px;
    z-index: 2;
    border-bottom: 50px solid #ceeaf6;
	border-left: 28px solid transparent;
	border-right: 28px solid transparent;
	width: 310px;
}
.sky{
    width: 100vw;
	height: 100vh;
	position: relative;
	/* animation-delay: 1s; */
	background: #70c4c6;
	animation-name: daylight;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	overflow: hidden;
	animation-timing-function: linear;
}

.sun{
    border-radius: 50%;
	width:70px;
	height:70px;
    bottom: 0;
    left: 50%;
    position: absolute;
    background-color: red;
    animation: sunMovement 20s infinite;
    animation-timing-function: linear;
}

.moon{
	position: absolute;
	width:70px;
	height:70px;
    bottom: 0;
    left: 50%;
	border-radius: 50%;
	background-color: #fff;
    animation: moonMovement 20s infinite;
    animation-timing-function: linear;
}

.mountain-cap-1, .mountain-cap-2, .mountain-cap-3 {
    position: absolute;
    top: 70px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ceeaf6;
}

@keyframes daylight {
    0% {  background-color: #70c4c6;}
    35% {  background-color: #e2b553; }
	50% {  background-color: #70c4c6; }
	65% {  background-color: #524b64; }
	100% { background-color: #354a4a; }
}

@keyframes sunMovement{
    0% { -webkit-transform: rotate(-180deg) translateX(450px)  }
    50% {  -webkit-transform: rotate(0deg) translateX(450px) } 
    100% { -webkit-transform: rotate(180deg) translateX(450px) }

}

@keyframes moonMovement{
    0% { -webkit-transform: rotate(0deg) translateX(450px)  }
    50% { -webkit-transform: rotate(180deg) translateX(450px)  }
    100% {  -webkit-transform: rotate(360deg) translateX(450px) }
}
