.picture{
    width: 1000px;
    height: 1000px;
}
.mountain {
    position: absolute;
    bottom: 0;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-bottom: 250px solid #7ac1e4;
    z-index: 1;
    width: 300px;
    left: 100px
}
.mountain-top{
    position: absolute;
    right: -33px;
    z-index: 2;
    border-bottom: 50px solid #ceeaf6;
	border-left: 28px solid transparent;
	border-right: 28px solid transparent;
	width: 310px;
}
.sky{
    width: 100vw;
	height: 100vh;
	position: relative;
	/* animation-delay: 1s; */
	background: #70c4c6;
	animation-name: daylight;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	overflow: hidden;
	animation-timing-function: linear;
}

.sun{
    border-radius: 50%;
	width:70px;
	height:70px;
    bottom: 0;
    left: 50%;
    position: absolute;
    background-color: red;
    animation: sunMovement 20s infinite;
    animation-timing-function: linear;
}

.moon{
	position: absolute;
	width:70px;
	height:70px;
    bottom: 0;
    left: 50%;
	border-radius: 50%;
	background-color: #fff;
    animation: moonMovement 20s infinite;
    animation-timing-function: linear;
}

.mountain-cap-1, .mountain-cap-2, .mountain-cap-3 {
    position: absolute;
    top: 70px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ceeaf6;
}

.tree {
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 100px;
    height: 200px;
    z-index: 1;
}
.tree2 {
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 100px;
    height: 200px;
    z-index: 1;

}

.tree-top {
	position: relative;
	background-color: orange;
	text-align: left;
    margin-left: 15px;
    animation: tree 80s infinite;
}
.tree-top:before,
.tree-top:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.tree-top,
.tree-top:before,
.tree-top:after {
	width:  4.5em;
	height: 4.5em;
	border-top-right-radius: 30%;
}

.tree-top {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.tree-top:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.tree-top:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

/* .tree-top {
    position: absolute;
    bottom: 20;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green;
    z-index: 2;
    animation: tree 80s infinite;
} */

.tree-trunk {
    position: absolute;
    bottom: 0;
    left:40px;
    width: 20px;
    height: 102px;
    background-color: brown;
    z-index: 3;
}

@keyframes daylight {
    0% {  background-color: #70c4c6;}
    35% {  background-color: #e2b553; }
	50% {  background-color: #70c4c6; }
	65% {  background-color: #524b64; }
	100% { background-color: #354a4a; }
}

@keyframes sunMovement{
    0% { -webkit-transform: rotate(-180deg) translateX(400px)  }
    50% {  -webkit-transform: rotate(0deg) translateX(400px) } 
    100% { -webkit-transform: rotate(180deg) translateX(400px) }
}

@keyframes moonMovement{
    0% { -webkit-transform: rotate(0deg) translateX(400px)  }
    50% { -webkit-transform: rotate(180deg) translateX(400px)  }
    100% {  -webkit-transform: rotate(360deg) translateX(400px) }
}

@keyframes tree {
    0% {    background-color:  pink;}
    30% {  background-color: lightgreen;}
    50% {  background-color:  green;}
    75% {  background-color:  #e2b553;}
    100% {  background-color: transparent;}
}
